body {
    background-color: antiquewhite;
    text-align: center;
    font-size: 20px;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    text-shadow: 6px;
}

.highest,
.lowest {
    display: inline-block;
    width: 50px;
    margin-bottom: 16px;
    padding: 6px;
    border-radius: 12px;
}

.highest {
    background-color: red;
    color: white;
}

.lowest {
    background-color: blue;
    color: white;
}

.update-time {
    background-color: rgb(188, 178, 164);
    text-align: center;
    padding: 12px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}

table {
    width: 80%;
    margin: 0 auto;
}

th {
    background-color: rgb(224, 195, 158);
    font-size: 24px;
}

tbody {
    background-color: rgb(239, 225, 173);
    font-size: 24px;
    text-align: center;
}

td:nth-child(3) {
    background-color: rgb(238, 245, 197);
}

@media(max-width:768px) {
    table {
        width: 400px;
    }

    td {
        font-size: 14px;
    }
}