<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>


<body>
    <h1>目前時間:{{today}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste reiciendis quod vero harum autem corrupti earum
        eaque,
        consectetur debitis doloribus voluptate aliquid minus maxime, quaerat quo alias aspernatur quos cumque?</p>
    <a href="/pm25" target="_blank">PM2.5即時資料</a><br>
    <a href="/books" target="_blank">書籍資料</a><br>
    <a href="/pm25-chart" target="_blank">PM2.5視覺</a>

    <script>
        // const h1Element = document.querySelector("h1");
        // console.log(h1Element);
        // h1Element.innerHTML = "<h2>測試!</h2>";

        // $("h1").html("<h2>123<h2>");
        // $("h1").css("color", "red")


    </script>
</body>

</html>