<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>

</head>

<body>
    <h1>PM2.5數據圖</h1>
    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="six_counties" style="width: 600px;height:400px;"></div>
    <div id="county" style="width: 600px;height:400px;"></div>


    <!--使用ajax進行資料取得後繪製-->
    <script>
        const chart1 = echarts.init(document.getElementById('main'));
        const chart2 = echarts.init(document.getElementById('six_counties'));
        const chart3 = echarts.init(document.getElementById('county'));

        drawPM25();



        function chartPic(chart, title, label, xData, yData, color = "#00008b") {
            let option = {
                title: {
                    text: title
                },
                tooltip: {},
                legend: {
                    data: [label]
                },
                xAxis: {
                    data: xData
                },
                yAxis: {},
                series: [
                    {
                        itemStyle: { color: color },
                        name: label,
                        type: 'bar',
                        data: yData
                    }
                ]
            };

            chart.setOption(option);

        }

        function drawCountyPM25(county) {
            //ajax
            $.ajax(
                {
                    url: "/county-pm25-json/" + county,
                    type: "GET",
                    dataType: "json",
                    success: (result) => {
                        if (!result["success"]) { county = county + " 輸入不正確..."; }
                        console.log(result);
                        chartPic(chart3, county, "PM2.5",
                            Object.keys(result['pm25']),
                            Object.values(result['pm25']),)

                    },
                    error: () => {
                        alert("取得資料失敗!");
                    }
                }
            )
        }


        // function echartSixPm25(result) {
        //     let option = {
        //         title: {
        //             text: '六都PM2.5平均值'
        //         },
        //         tooltip: {},
        //         legend: {
        //             data: ['PM2.5']
        //         },
        //         xAxis: {
        //             data: Object.keys(result)
        //         },
        //         yAxis: {},
        //         series: [
        //             {
        //                 itemStyle: { color: '#8b008b' },
        //                 name: 'PM2.5',
        //                 type: 'bar',
        //                 data: Object.values(result)
        //             }
        //         ]
        //     };

        //     myChart2.setOption(option);

        // }

        // function echartPic1(result) {
        //     let option = {
        //         title: {
        //             text: result['title']
        //         },
        //         tooltip: {},
        //         legend: {
        //             data: ['PM2.5']
        //         },
        //         xAxis: {
        //             data: result['xData']
        //         },
        //         yAxis: {},
        //         series: [
        //             {
        //                 name: 'PM2.5',
        //                 type: 'bar',
        //                 data: result['yData']
        //             }
        //         ]
        //     };

        //     myChart.setOption(option);
        // }

        function drawPM25() {
            //ajax
            $.ajax(
                {
                    url: "/pm25-json",
                    type: "GET",
                    dataType: "json",
                    success: (result) => {
                        console.log(result);
                        chartPic(chart1, result['title'], "PM2.5",
                            (result['xData']),
                            (result['yData']));

                        chartPic(chart2, "六都PM2.5平均值", "PM2.5",
                            Object.keys(result["sixData"]),
                            Object.values(result["sixData"]), "#ff69b4");

                        drawCountyPM25("臺北市");

                        //echartSixPm25(result["sixData"]);
                    },
                    error: () => {
                        alert("取得資料失敗!");
                    }
                }
            )
        }
    </script>
</body>

</html>