<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2.5數據圖</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.4.3/echarts.min.js"></script>
    <style>
        .highest,
        .lowest {
            display: inline-block;
            width: 50px;
            margin-bottom: 16px;
            padding: 6px;
            border-radius: 12px;
            text-align: center;
        }

        .highest {
            background-color: red;
            color: white;
        }

        .lowest {
            background-color: blue;
            color: white;
        }
    </style>

</head>

<body>

    最高 : {{highest[0]}} <span class="highest">{{highest[1]}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    最低 : {{lowest[0]}} <span class="lowest">{{lowest[1]}}</span>

    <div id="main" style="width: 600px;height:400px;"></div>
    <div id="six_counties" style="width: 600px;height:400px;"></div>
    <select name="selectCounty" id="selectCounty">
        {%for county in counties%}
        <option value={{county}}>{{county}}</option>
        {% endfor %}
    </select>
    <div id="county" style="width: 600px;height:400px;"></div>


    <!--使用ajax進行資料取得後繪製-->
    <script src="../static/js/pm25-chart.js"></script>
</body>

</html>